.ant-pro-sider-fixed{
    right: 0 !important;
    left: auto;
}
.ant-pro-top-nav-header-logo{
    padding-right: 1rem;
}
/* @media only screen and (max-device-width: 540px) {
    .ant-layout-header{
        direction: rtl;
    }
} */